<h1>¡Bienvenid@s!</h1>
<p>Este es el {{title}} by {{author}}</p>

<hr>
<h3>Route params</h3>
<a href="/libros/autor/unamuno">Ejemplo 1</a>
<br>
<a href="/libros/detalles/87353765376927">Ejemplo 2</a>
<br><br>
<h3>Query strings</h3>
<a href="/libros/autor/unamuno?year=2003&lang=esp&maxprice=20">Ejemplo 1</a>