<h1>Inicio de sesión</h1>

<form action="/login" method="POST">
    Usuario: <input name="username" type="text"><br>
    Contraseña: <input name="pwd" type="password"><br>

    <input type="submit" value="Acceder">
</form>