<h1>Buscador de vuelos</h1>

<form action="/vuelos/resultados" method="GET">
    Origen: <input name="from" type="text"><br>
    Destino: <input name="to" type="text"><br>
    Adultos: <input name="adults" type="number"><br>

    <input type="submit" value="Buscar">
</form>